<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
</head>
<body>
<ul>
    <li class="alert alert-danger" role="alert"
        th:each="error : ${#fields.errors('contact.*')}" th:text="${error}" />

</ul>
<form th:action="@{/saveMsg}" method="post" class="signin-form" th:object="${contact}">
    <div class="col-md-6">
        <label for="name" class="form-label">name</label>
        <input type="text" th:field="*{name}" class="form-control" id="name">
    </div>
    <div class="col-md-6">
        <label for="phoneNumber" class="form-label">PhoneNumber</label>
        <input type="tel" th:field="*{phoneNumber}" class="form-control" id="phoneNumber">
    </div>
    <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="enter email">
    </div>
    <div class="col-12">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" th:field="*{subject}" class="form-control" id="subject" placeholder="Enter subject">
    </div>
    <div class="col-md-6">
        <textarea th:field="*{message}" cols="30" rows="10">Message</textarea>
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>
</body>
</html>